@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.header-container {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #3c3a39;
}

.link-none {
  text-decoration: none;
}

.nav-toggle-btn {
  transition: all 70ms;
}

.nav-toggle-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.home {
  width: 100%;
  height: 590px;
  background-color: #1c1a19;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.home-title {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0.37px;
  font-family: "Crete Round", serif;
}

.home-title-second {
  color: #fff5e1;
}

.home-description {
  color: #fff;
}

.social-media-ul {
  display: flex;
  align-items: center;
  gap: 21px;
  padding: 11px;
}

.home-svg {
  position: absolute;
  transform: rotate(-3deg);
  bottom: -30px;
  right: -325px;
}

.media-icon {
  transition: all 70ms;
  cursor: pointer;
}

.media-icon:hover {
  transform: scale(1.2);
}

.list-style-none {
  list-style: none;
}

.works-container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 120px 0;
}

.section-title {
  line-height: 52px;
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.grid-container {
  display: grid;
  width: calc(100% - 48px);
  margin: 0 24px;
  max-width: 360px;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.card-title {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #091e42;
}

.card-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #091e42;
}

.tags {
  display: flex;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.tag-description {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #091e42;
  padding: 12px 10px;
  border: 1px solid #8993a4;
}

.tag-description-2 {
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.see-btn {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 700;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 70ms;
}

.white {
  color: #fff;
}

.wide {
  width: 100%;
}

.margin-x-13 {
  margin: 0 13px;
}

.back-img {
  background-image: url(./assets/img/Img\ Placeholder2.png);
  background-position: center;
  background-size: cover;
  padding-top: 72px;
}

.about-container {
  overflow: hidden;
  background-color: #1c1a19;
  background-image: url(/assets/icons/about-svg1.svg);
  background-repeat: no-repeat;
  background-position-x: 215px;
  background-position-y: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 120px 24px;
}

.about-title {
  font-family: "Crete Round", serif;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  font-weight: 400;
}

.about-description {
  color: #f4f5f7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 136px 0;
  align-self: center;
}

.habilities-containes {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 44px;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.habilitie-title {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.habilitie-type {
  font-size: 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.habilitie-list {
  color: #fff;
  font-family: "Inter", sans-serif;
  align-self: center;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-item {
  font-weight: 400;
  font-size: 22px;
}

.see-btn:hover {
  background-color: #bb5003;
}

.form-container {
  padding: 70px 24px;
  background-color: #E5E5E5;
}

.section-title-2 {
  border-bottom: none;
  font-family: "Inter", sans-serif;
  color: #172B4D;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.input-control {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #DBD8D7;
  padding: 14px;
}

.textarea-input-control{
  width: 100%;
  height: 114px;
  background-color: transparent;
  padding: 12px;
}

.submit-btn {
  font-size: 17px;
  padding: 12px;
  width: fit-content;
  margin: auto;
  margin-bottom: 78px;
}

.footer-container {
  width: 100%;
  height: 108px;
  padding: 25px;
  background-color: #E5E5E5;
  border-top: 1px solid #DFE1E6;
}

.social-media-ul-footer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin: auto;
}

