@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.header-container {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #3c3a39;
}

.link-none {
  text-decoration: none;
}

.nav-toggle-btn {
  transition: all 70ms;
}

.nav-toggle-btn:hover {
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  z-index: 200;
  left: 0;
  height: calc(100vh - 57px);
  width: 100vw;
  background-color: #3c3a39;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  list-style: none;
  opacity: 0;
  top: -200vh;
  transition: top 0.3s;
}

.show {
  opacity: 1;
  top: 0;
  cursor: auto;
}

.mobile-menu-close {
  align-self: flex-end;
  margin: 12px;
  cursor: pointer;
}

.mobile-menu-link {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.list-element-mobile {
  padding: 15px 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #6f6c6b;
  width: 100%;
}

.desktop-nav-container {
  color: #fff;
  display: none;
}

.desktop-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.desktop-nav-item {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  transition: all 100ms;
}

.logo {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.home {
  width: 100%;
  height: 590px;
  background-color: #1c1a19;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.home-text-container {
  max-width: 565px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-title {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0.37px;
  font-family: "Crete Round", serif;
}

.apear-from-right {
  animation: apear 700ms ease-in-out;
}

@keyframes apear {
  from {
    transform: translateX(300px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes apear-delay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.apear-delay {
  opacity: 0;
  animation: apear-delay 700ms ease-in-out;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}

.home-title-second {
  color: #fff5e1;
}

.home-description {
  color: #fff;
}

.social-media-ul {
  display: flex;
  align-items: center;
  gap: 21px;
  padding: 11px;
}

.home-svg {
  position: absolute;
  transform: rotate(-3deg);
  bottom: -30px;
  right: -325px;
}

.media-icon {
  transition: all 70ms;
  cursor: pointer;
}

.media-icon:hover {
  transform: scale(1.2);
}

.list-style-none {
  list-style: none;
}

.works-container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 120px 0;
}

.section-title {
  line-height: 52px;
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #212121;
}

.grid-container {
  display: grid;
  width: calc(100% - 48px);
  margin: 0 24px;
  max-width: 360px;
  grid-template-columns: 1fr;
  gap: 24px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.card-title {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  color: #091e42;
}

.card-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #091e42;
}

.tags {
  display: flex;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.tag-description {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #091e42;
  padding: 12px 10px;
  border: 1px solid #8993a4;
}

.tag-description-2 {
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 12px 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

.see-btn {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 700;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 600ms;
}

.white {
  color: #fff;
}

.wide {
  width: 100%;
}

.margin-x-13 {
  margin: 0 13px;
}

.back-img {
  background-image: url(./assets/icons/Img\ Placeholder-1-desktop.png);
  background-position: center;
  background-size: cover;
  height: 435px;
  justify-content: flex-end;
}

.Website {
  background-image: url(./assets/icons/Img\ Placeholder-3-desktop.png);
}

.Profesional {
  background-image: url(./assets/img/Img\ Placeholder2.png);
}

.Data {
  background-image: url(./assets/icons/Img\ Placeholder-2-desktop.png);
}

.about-container {
  overflow: hidden;
  background-color: #1c1a19;
  background-image: url(/assets/icons/about-svg1.svg);
  background-repeat: no-repeat;
  background-position-x: 215px;
  background-position-y: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding: 120px 24px;
}

.about-title {
  font-family: "Crete Round", serif;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  font-weight: 400;
}

.about-description {
  color: #f4f5f7;
  max-width: 418px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 136px 0;
  align-self: center;
}

.divisor-2 {
  display: none;
  width: 100%;
  height: 1px;
  background-color: #212121;
  align-self: center;
}

.habilities-containes {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 44px;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.habilitie-flex-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.habilitie-title {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.habilitie-type {
  font-size: 32px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.habilitie-list {
  color: #fff;
  font-family: "Inter", sans-serif;
  align-self: center;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list-item {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.see-btn:hover {
  background-color: #fff5e1;
  outline: 1px solid #f55800;
  color: #f55800;
}

.see-btn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  padding: 70px 24px;
}

.section-title-2 {
  border-bottom: none;
  font-family: "Inter", sans-serif;
  color: #172b4d;
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  max-width: 455px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  max-width: 684px;
}

.input-control {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #dbd8d7;
  padding: 14px;
}

.input-control ::placeholder {
  font-family: "Inter", sans-serif;
  color: #979493;
  font-size: 15px;
}

.textarea-input-control {
  width: 100%;
  height: 114px;
  background-color: #fbf8f7;
  padding: 12px;
  resize: none;
  border: none;
}

.textarea-input-control::placeholder {
  color: black;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  font-family: "Inter", sans-serif;
}

.submit-btn {
  font-size: 17px;
  padding: 12px;
  width: fit-content;
  margin: auto;
  margin-bottom: 78px;
}

.footer-container {
  width: 100%;
  height: 72px;
  padding: 25px;
  border-top: 1px solid #a6a8ad;
}

.social-media-ul-footer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

/* ------------- MODAL ---------------- */
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 100vw;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: grid;
  place-content: center;
  padding: 16px;
  transition: all 0.2s;
}

.modal {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: stretch;
  justify-content: flex-end;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.16);
  border-radius: 4px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-start;
}

.modal-title-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

#modal-close-btn {
  cursor: pointer;
}

.habilities-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.habilitie {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding: 10px 12px;
  color: #3c3a39;
  border: 1px solid #979493;
}

.modal-img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.modal-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.modal-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background-color: #ff6b00;
  padding: 12px;
  border: none;
  line-height: 24px;
  font-size: 17px;
  cursor: pointer;
  transition: all 600ms;
}

.link-btn:hover {
  background-color: #fff5e1;
  outline: 1px solid #f55800;
  color: #f55800;
}

/* ------------- MODAL END   ------------- */

@media (min-width: 768px) {
  /* --------'header'--------- */
  .header-container {
    height: 72px;
    padding: 0 70px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-toggle-btn {
    display: none;
  }

  .desktop-nav-container {
    display: block;
  }

  /* --------home--------- */
  .home {
    height: 800px;
    background-image: url(./assets/icons/illustration-home-mobile.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 750px - 35vw) 90%;
    background-size: 70%;
  }

  .home-text-container {
    margin-left: 143px;
  }

  .home-title {
    font-size: 72px;
    line-height: 81.5px;
  }

  .home-title-second {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
  }

  .home-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  .social-media-ul {
    flex-direction: column;
    align-items: normal;
    position: absolute;
  }

  .media-icon:hover {
    transform: scale(1.1);
  }

  .icon-hover:hover {
    padding-left: 6px;
  }

  .home-svg {
    display: none;
  }

  /* --------about--------- */
  .about-container {
    padding: 130px 142px;
    background-position: calc(150% + 300px - 40vw) 30%;
  }

  .about-description {
    font-size: 20px;
    line-height: 32px;
    max-width: 566px;
  }

  .habilitie-flex-container {
    align-items: stretch;
  }

  .habilities-containes {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1155px;
  }

  .habilitie-list {
    width: 100%;
    align-items: flex-start;
  }

  .habilitie-title {
    justify-content: flex-start;
  }

  .list-item {
    text-align: left;
  }

  /* --------works--------- */

  .works-container {
    padding: 130px 142px;
  }

  .divisor-2 {
    display: block;
    width: auto;
    flex-grow: 1;
  }

  .section-title {
    border-bottom: none;
    margin: 0;
  }

  .work-title-container {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: fit-content;
    margin: 0;
  }

  .first-work-img {
    grid-column: 1 / span 1;
    width: 100%;
  }

  .card-title {
    font-size: 40px;
    line-height: 52px;
  }

  .card-description {
    font-size: 20px;
    line-height: 28px;
  }

  .display-none-desktop {
    display: none;
  }

  .second-work {
    justify-content: end;

    /* background-image: url(./assets/icons/Img\ Placeholder-1-desktop.png); */
  }

  .back-img {
    min-width: 300px;
    cursor: pointer;
    padding-bottom: 16px;
  }

  .padding-0 {
    padding: 0;
  }

  /* --------form responsive--------- */
  .form-container {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 130px 142px;
  }

  .section-title-2 {
    align-self: flex-start;
    color: #262626;
    text-align: left;
    font-size: 40px;
    line-height: 52px;
    font-family: "Inter", sans-serif;
    flex-grow: 2;
    flex-shrink: 2;
  }

  .form {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .submit-btn {
    margin: 0 0 78px 0;
  }

  /* -----------MODAL----------- */

  .modal {
    max-width: 1156px;
    padding: 27px;
  }

  .modal-img {
    width: 100%;
    max-height: 448px;
    object-fit: cover;
  }

  .flex-row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
  }

  .modal-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 35%;
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .modal-links {
    justify-content: flex-start;
    gap: 16px;
  }

  .habilitie {
    font-size: 15px;
    line-height: 20px;
  }

  .modal-title-text {
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }
}

@media (min-width: 908px) {
  .first-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    height: fit-content;
    grid-column: 1 / span 2;
  }
}

@media (min-width: 992px) {
  /* --------'header'--------- */
  .header-container {
    padding: 0 154px;
  }

  .about-container {
    background-size: 50%;
    background-position: calc(150% + 300px - 40vw) calc(30% - 10vw);
  }
}

@media (min-width: 1232px) {
  .first-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    height: fit-content;
    grid-column: 1 / span 3;
  }
}
